<% content_for :branding do %>
	<div class="inner">
		<div class="left">
			<h2>Wireless Wideband Communication for the Mobile Age</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent at pede. Vestibulum vel eros. Fusce at purus. Duis scelerisque. Cras quis mi. Praesent felis felis, dignissim sed, molestie eget, cursus vel, sem. Aenean dapibus. Sed a nisl. Ut imperdiet sollicitudin leo. Pellentesque commodo.</p>
			<a href="#" class="button">Read More</a>
		</div>
		<div class="right">
			<div id="broadcast">
				<div class="inner">
				<ul>
			  <%- @banners.each_with_index do |banner, i| %>
					<li>
						<%= link_to image_tag(banner.banner.url(:banner)), banner.url %>
						<p><%= banner.name %></p>
					</li>
				<%- end %>
				</ul>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% @panels.each do |panel| %>
<div class="col<%= cycle('','',' last')%>">
	<h3><%= panel.title %></h3>
	<%= link_to(image_tag(panel.image(:main), :alt => panel.title), panel.url) unless panel.image.url.empty? && panel.url.empty? %>
	<div class="inner">
		<%= textilize(panel.text) unless panel.text.empty? %>
	</div>
	<%= link_to('Read More', panel.url, :class => 'button') unless panel.url.empty? %>
</div>
<% end %>