	<div id="footer">
		<div class="wrapper">
			<div class="col">
				<ul class="newsitems">
				<% unless @footer_news.empty? %>
					<% @footer_news.each do |news| %>
						<li class="<%= cycle('odd','even')%>">
							<%= datebox(news.publish_from)%>
							<%= content_tag('h4', link_to(news.title, url_for_page(news)))%>
							<%= content_tag('p', truncate(news.intro, :length => 200))%>
							<%= link_to('Read more', url_for_page(news), :class => 'more')%>
						</li>
					<% end %>
				<% end %>
				</ul>
				<%= link_to('Subscribe to our <acronym title="Really Simple Syndication">RSS</acronym> feed', url_for_page(@rss_feed, :format => 'rss'), :class => 'feed')%>
			</div>
			<div class="col">
				<div class="buttons">
					<a href="http://www.facebook.com/pages/Solaris-Mobile/111842218848028"><img src="/images/buttons/facebook.png" alt="facebook" /></a>
					<a href="http://twitter.com/Solaris_Mobile"><img src="/images/buttons/twitter.png" alt="twitter" /></a>
				</div>
			</div>
			<div class="col last">
				<%= render :partial => 'public/shared/footer/flickr' %>
			</div>
			<div class="bottom">
				<%= render_list_nav(Page.find_by_title('Footer nav')) %>
			</div>
		</div>
		<script type="text/javascript" language="javascript">llactid=17482</script>
		<script type="text/javascript" language="javascript" src="http://t5.trackalyzer.com/trackalyze.js"></script>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-5264206-2");
		pageTracker._trackPageview();
		</script>
	</div>
</body>
</html>