	<div id="footer">
		<div class="wrapper">
			<div class="col">
				<ul class="newsitems">
				<% @footer_news.each do |news| %>
					<li class="<%= cycle('odd','even')%>">
						<%= datebox(news.publish_from)%>
						<%= content_tag('h4', link_to(news.title, url_for_page(news)))%>
						<%= content_tag('p', truncate(news.intro, :length => 200))%>
						<%= link_to('Read more', url_for_page(news), :class => 'more')%>
					</li>
				<% end %>
				</ul>
			</div>
			<div class="col">
				<div class="buttons">
					<a href="http://www.facebook.com/pages/Solaris-Mobile/111842218848028"><img src="/images/buttons/facebook.png" alt="facebook" /></a>
					<a href="http://twitter.com/Solaris_Mobile"><img src="/images/buttons/twitter.png" alt="twitter" /></a>
				</div>
			</div>
			<div class="col last">
				<%= render :partial => 'public/shared/footer/flickr' %>
			</div>
		</div>
</body>
</html>