<%- content_for :support do -%>
	<%= render :partial => 'public/shared/news_support' %>
<%- end -%>

<% content_for :branding do %>
<div class="inner">
	<div class="banner">
		<h1><%= if @page : @page.parent.title else "Solaris Mobile" end %></h1>
		<% if @page %>
			<% if !@page.images.empty? %>
				<%= image_tag(@page.images.first.file.url(:widebanner)) %>
			<% else %>
				<%= image_tag Banner.all(:limit => 1, :order => 'RAND()').first.banner.url(:widebanner) %>
			<% end %>
		<% else %>
			<%= image_tag Banner.all(:limit => 1, :order => 'RAND()').first.banner.url(:widebanner) %>
		<% end %>
	</div>
</div>
<% end %>

<h1><%= @page.title %></h1>

<ul id="datetime">
	<li class="start">Start: <%= @page.event_date.strftime("%d %B %Y at %I:%M %p") if @page.event_date %></li>
	<li class="end">Finish: <%= @page.event_end_date.strftime("%d %B %Y at %I:%M %p") if @page.event_end_date %></li>
</ul>

<%= content_tag('p', @page.intro, :id => 'intro') unless @page.intro.empty? %>

<%= @page.body %>

<%= render 'public/comments/comments_ui' %>

<p id="back"><%= link_to " &laquo; back to news index", url_for_page(@page.parent) %></p>
