<%= render 'public/shared/page_body' %>

<ul id="list">
<% @items.each do |item| %>
<% link = item.subtitle ? item.subtitle : url_for_page(item) %>
	<li <%= cycle('','class="last"')%>>
		<%= image_tag(item.images.first.permenant_url(:medium), :width => 100) %>
		<h2><%= link_to(item.title, link) %></h2>
		<p><%= textilize(item.intro) unless item.intro.empty? %></p>
		<%= link_to('Read More', link, :class => 'button') %>
	</li>
<% end %>
</ul>