<%= render :partial => 'layouts/shared/header' %>
	<div id="body">
		<div class="wrapper">
			<div id="content">
				<%= render_breadcrumb unless homepage? || @page == @root_page%>
				<%= render_flash %>
				<%= yield %>
			</div>
			<div id="support">
				<%= yield(:support) || render(:partial => 'layouts/shared/default_support') %>
			</div>
		</div>
	</div>
<%= render :partial => 'layouts/shared/footer' %>